<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">Academic</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/state']">
                        <span class='glyphicon glyphicon-glass'></span> State
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/city']">
                        <span class='glyphicon glyphicon-cloud'></span> City
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/student']">
                        <span class='glyphicon glyphicon-apple'></span> Student
                    </a>
                </li>
                 <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/professor']">
                        <span class='glyphicon glyphicon-plane'></span> Professor
                    </a>
                </li>
                 <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/course']">
                        <span class='glyphicon glyphicon-star'></span> Course
                    </a>
                </li>
                 <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/subject']">
                        <span class='glyphicon glyphicon-cog'></span> Subject
                    </a>
                </li>
                  <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/class']">
                        <span class='glyphicon glyphicon-fire'></span> Class
                    </a>
                </li>
                 <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/enrollment']">
                        <span class='glyphicon glyphicon-eye-open'></span> Enrollment
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
