<h1>Register Citys</h1>

<div class="input-group">
  <span class="input-group-addon" id="nameCity">City</span>
  <input style="width:50%" name="nameCity" [(ngModel)]="nameCity" type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
</div>

<br>  

<div class="btn-group">
  <button type="button" class="btn btn-success">Select state</button>
  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu"> 
    <li><a href="#">State 1</a></li>
    <li><a href="#">State 2</a></li>
    <li><a href="#">State 3</a></li>
  </ul>
</div>

<br>  

<div class="btn-group" style="left:50%" role="group" aria-label="...">
  <button  type="button" (click)="Save()"class="btn btn-warning">Save</button>
</div>

<h1>List</h1>

<p>This component demonstrates fetching data(the Citys) from the server.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table' *ngIf="forecasts">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let forecast of forecasts">
            <td>{{ forecast.name }}</td>
        </tr>
    </tbody>
</table>

