<h1>Register Citys</h1>

<div class="input-group">
  <span class="input-group-addon" id="nameCity">City</span>
  <input style="width:50%" name="nameCity" [(ngModel)]="nameCity" type="text" name="nameCity">
</div>

<br>  

<div class="dropdown" name="dropdownState">
  <select #selectElem (change)="setState(selectElem.value)" class="form-control">
      <option>Select an state</option>
      <option *ngFor="let state of states" [value]="state.id">{{state.name}}</option>
  </select>
</div>

<br>  

<div class="btn-group" style="left:50%" role="group" aria-label="...">
  <button  type="button" (click)="Save()"class="btn btn-warning">Save</button>
</div>

<h1>Cities</h1>

<p *ngIf="!cities"><em>Loading...</em></p>

<table class='table' *ngIf="cities">
    <thead>
        <tr>
            <th>Id</th>
            <th>City</th>
            <th>State</th>
             <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let city of cities">
            <td>{{ city.id }}</td>
            <td>{{city.name }}</td>
            <td>{{ city.state.name }}</td>
             <td>
                    <button type="button" class="btn btn-danger" (click)="Delete(city)">
                        <span class='glyphicon glyphicon-trash'></span>
                    </button>
            </td>
        </tr>
    </tbody>
</table>

